
{% extends 'notices/base.html' %}
{% load static %}

	{% block title %}Log In{% endblock %}

    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    {% endblock %}

    {% block navbar %}
    {% endblock %}


	{% block content %}

		<div class="row justify-content-center login-form">
	      <div class="col-lg-7 col-md-8 col-sm-12">
	        <div class="card">
	          <div class="card-body">
	            <h3 class="card-title">Log In</h3>
	            <form method="post" novalidate>
	              {% csrf_token %}
  				  <input type="hidden" name="next" value="{{ next }}">
	              {% include 'notices/form.html' %}
	              <button type="submit" class="btn btn-primary btn-block">Submit</button>
	            </form>
	          </div>
	          <div class="card-footer text-muted text-center">
	            Don't have an account? <a href="{% url 'accounts:signup' %}">Create one.</a>
	          </div>
	        </div>
	         <div class="text-center py-2">
          	<small>
            	<a href="{% url 'accounts:password_reset' %}" class="text-muted">Forgot your password?</a>
          	</small>
        </div>
	      </div>
	    </div>

	{% endblock %}